@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --clr-blue1: #3161B8;
  --clr-blue2: #3262B7;
  --clr-blue3: #26348C;
  --clr-blue4: #142350;
  --clr-grey: #59545A;
  --clr-black: #000;
  --clr-white: #fff;
  --clr-offWhite: #F1F2F6;
}

body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
  transition: all .3s;
}

li {
  display: inline-block;
  list-style-type: none;
}

span {
  display: inline-block;
}

input[type],
button {
  border: none;
  display: inline-block;
  outline: none;
}

::first-letter {
  text-transform: uppercase;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 90%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/

/* header-top section starts here */

.header-top .wrapper {
  padding: 14px 0;
  display: flex;
  align-items: center;
  gap: 48px;
  position: relative;
}

.nav-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 54px;
}

.nav-menu a {
  color: var(--clr-black);
}

.nav-menu a[title="SQL"] { text-transform: uppercase; }

.nav-menu a:hover,
.nav-menu a:hover ~ .caret {
  color: var(--clr-blue2);
}

.nav-menu .nav-more {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
}

.nav-menu .caret {
  width: 10px;
  height: 10px;
  position: relative;
  color: var(--clr-black);
  font-size: 10px;
  text-indent: -99999px;
  transition: all .3s;
}

.nav-menu .caret::before {
  content: '\f078';
  position: absolute;
  top: 50%;
  left: 50%;
  font-family: 'fontAwesome';
  text-indent: 0;
  transform: translate(-50%, -50%);
}

.nav-menu .caret.active {
  color: var(--clr-blue2);
  transform: rotate(180deg);
}

.nav-submenu {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 4;
  background-color: var(--clr-blue1);
  opacity: 0;
  transition: all .3s;
  visibility: hidden;
}

.nav-submenu.active {
  opacity: 1;
  visibility: visible;
}

.nav-submenu-list a { color: var(--clr-white); }
.nav-submenu-list a:hover { color: var(--clr-blue4); }

.header-form {
  position: absolute;
  right: 5%;
}

.header-form .input-group {
  position: absolute;
  top: 300%;
  right: -50%;
  z-index: 5;
  opacity: 0;
  transition: all .3s;
  visibility: hidden;
}

.header-form .input-group.active {
  top: 200%;
  opacity: 1;
  visibility: visible;
}

.header-form .input-group::before {
  content: '';
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-bottom-color: var(--clr-blue2);
  position: absolute;
  right: 7%;
  bottom: 100%;
}

.header-form input[type="text"] {
  padding: 8px 10px;
  border: 2px solid var(--clr-blue2);
  border-radius: 10px;
  background-color: var(--clr-white);
  color: var(--clr-black);
  font-size: 15px;
}

.header-form .input-control { position: relative; }

.header-form button {
  width: 20px;
  height: 20px;
  position: relative;
  background-color: transparent;
  color: var(--clr-grey);
  font-size: 18px;
  text-indent: -99999px;
  transition: all .3s;
}

.header-form button:hover { color: var(--clr-blue4); }

.header-form button::before {
  content: '\f002';
  position: absolute;
  top: 50%;
  left: 50%;
  font-family: 'fontAwesome';
  text-indent: 0;
  transform: translate(-50%, -50%);
}

.header-top .cart-box span {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  right: 1%;
  color: var(--clr-grey);
  cursor: pointer;
  font-size: 18px;
  text-indent: -99999px;
  transform: translateY(-50%);
  transition: all .3s;
}

.header-top .cart-box span:hover {
  color: var(--clr-blue4);
}

.header-top .cart-box span::before {
  content: '\f07a';
  position: absolute;
  top: 50%;
  left: 50%;
  font-family: 'fontAwesome';
  text-indent: 0;
  transform: translate(-50%, -50%);
}

.menu-toggle {
  width: 30px;
  height: 30px;
  display: none;
  overflow: hidden;
  position: relative;
  cursor: pointer;
} 

.menu-toggle .bar {
  width: 100%;
  height: 4px;
  border-radius: 3px;
  position: absolute;
  left: 0;
  background-color: var(--clr-blue4);
  text-indent: -99999px;
  transition: all .3s;
}

.menu-toggle .bar:first-child {
  top: 0;
  box-shadow: 0 13px 0 var(--clr-blue4);
}

.menu-toggle .bar:last-child {
  bottom: 0;
}

.menu-toggle .bar:first-child.active {
  box-shadow: none;
  transform: translateY(13px) rotate(45deg) scale(1.1);
}

.menu-toggle .bar:last-child.active {
  transform: translateY(-13px) rotate(-45deg) scale(1.1);
}

/* header-top section ends here */

/* header-top section ends here */

.header-bottom {
  background-color: var(--clr-blue1);
}

.header-bottom .wrapper {
  padding: 13px 0;
  display: flex;
  align-items: center;
  gap: 50px;
}

.header-bottom .enterprise {
  color: var(--clr-white);
  font-size: 24px;
}

.header-bottom-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
  text-transform: capitalize;
}

.header-bottom-menu > li {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
}

.header-bottom-menu a {
  color: var(--clr-white);
}

.header-bottom-menu .caret {
  width: 10px;
  height: 10px;
  position: relative;
  color: var(--clr-white);
  font-size: 10px;
  text-indent: -99999px;
  transition: all .3s;
}

.header-bottom-menu .caret::before {
  content: '\f078';
  position: absolute;
  top: 50%;
  left: 50%;
  font-family: 'fontAwesome';
  text-indent: 0;
  transform: translate(-50%, -50%);
}

.header-bottom-menu a:hover,
.header-bottom-menu a:hover ~ .caret {
  color: var(--clr-blue4);
}

.header-bottom-menu .caret.active {
  color: var(--clr-blue4);
  transform: rotate(180deg);
}

/* header-top section ends here */

/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/








/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 







 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {



}  